
nav{
    background:#EB1D36;
    padding: 20px;
    display: flex; 
    justify-content: center;
    
}
h1{
    font-size: 50px;
    color: #EB1D36;
    text-align-last: right;
    text-shadow: 4px 4px 8px #000000;
    margin: 20px 50px 0px;
}
h6{
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align-last: right;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px 50px; 
}
h2{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center; 
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer{
    background:#EB1D36;
    padding: 20px;
    display: flex; 
    justify-content: center;
    color:#F5EDDC;
}
.ancla-nav{ 
    display: inline-block;
    background: #C21010;
    color:#F5EDDC;
    padding: 10px 20px;
    margin: 0px 10px;
    text-decoration: none;
}
.ancla-nav:hover{
    background:#A2B5BB;
    text-decoration: none;
}
.boton-nav{
    display:none;
    background: #C21010;
    color:#F5EDDC;
    padding: 10px 20px;
    margin: 0px 10px;
}
.boton-nav:hover{
    background:#A2B5BB;

} 
.content{
    margin: auto;
    width: 80%;
} 
.flex{
    display: flex;
} 
.text-center{
    text-align: center;
}
.columna{
    background: #A2B5BB;
    border: 2px solid #3D0C11;
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 8px #A2B5BB;
}
.btn-form{
    background: #C21010;
    color:#F5EDDC;
    padding: 10px 20px;
    margin: 10px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    resize: none;
  }
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;    
}  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;    
}

@media screen and (max-width: 740px){
    nav{
        flex-direction: column;
        
    }
    textarea{
        width: 100%;
        margin-top: 0;
    }
    .ancla-nav{
        margin: 10px 0px;
    }
    .boton-nav{
        display:inline-block;
        margin: 10px 0px;
    }
    .desaparece{
        display: none;
    }
    .col-25{
        width: 100%;
        margin-top: 0;    
    }
    .col-75{
        width: 100%;
        margin-top: 0;
    }
    
}